extends layout

block post
  div
    header
      h1.BodyTitle= selectedCategory
    nav
      each post in posts
        .list
          a(href=`/post/${post.id}`)
            h3.my-2=post.title
            if(session.nickname)
              small=`조회 ${post.views} | 댓글 ${post.replies}`
            p=JSON.parse(post.body).ops[0].insert