extends layout

block post

  link(rel='stylesheet', href='/stylesheets/category.css')
  div
    h1.BodyTitle= selectedCategory
    each post in posts
      .posts-list
        a(href=`/post/${post.id}`)
          h3=post.title
          small=`조회 ${post.views}`
          p=JSON.parse(post.body).ops[0].insert