extends layout

block post
    form(method='post', action='/post/update')
        input(type='hidden', name='id', value=id)
        label(for='category') 메뉴
        select(name='category')
            each category in categories
                if (category.name === post.category)
                    option(value=category.name, selected)= category.name
                else
                    option(value=category.name)= category.name
        br
        input#input-text(
            type='text',
            name='title',
            placeholder='제목',
            value=post.title
        )
        br
        input#input-text(
            type='text',
            name='url',
            placeholder='URL',
            value=post.url
        )
        br

        textarea#input-markdown(name='body')= post.body
        br
        input#input-text(
            type='text',
            name='tags',
            placeholder='tags',
            value=post.tags.join(",")
        )
        br
        br
        input(type='submit', value='글쓰기')
    script(src='../scripts/write.js')
