extends layout

block post
  script(src="https://cdn.quilljs.com/1.3.6/quill.js")
  link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
  .Body
    div
      form(method='post' action='update/process')
        input.delete-text(type='hidden' name='id' value=id)
        label(for='category') 메뉴
        select(name="category")
          each category in categories
            if(category.name === _category)
              option(value=category.name selected)= category.name
            else
              option(value=category.name)= category.name
        br
        label(for='title') 제목
        input.input-text(type='text' name='title' value=title)
        br

        input(type='hidden' name='body')
        #editor-container= body
        br
        input(type='submit' value='수정')

  script(src = '/scripts/quill-update.js')